* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}


#container {
    background: url("./assets/background.jpg");
    padding-bottom: 140px;
}


#botao-entrar {
    background-color: #e50914;
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
    border: 0;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}


#botao-entrar:hover {
    background-color: #4709e5;
}


#botao-idioma {
    background-color: #e50914;
    font-size: 16px;
    margin-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
    border: 0;
    border-radius: 3px;
    float: right;
    cursor: pointer;
}


#botao-idioma:hover {
    background-color: #4709e5;
}


#cabecalho {
    padding: 28px 56px;
}


h1 {
    text-align: center;
    font-size: 64px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 170px;
}


#paragrafo-assista {
    font-size: 24px;
    text-align: center;
    margin-top: 14px;
}


#paragrafo-pronto {
    font-size: 20px;
    text-align: center;
    margin-top: 24px;
}


input {
    width: 500px;
    padding-left: 10px;
}


#botao-email {
    width: 250px;
    background-color: #e50914;
    border: 0;
    font-size: 30px;
    cursor: pointer;
}


#botao-email:hover{
    background-color: #4709e5;
}


#formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 70px;
}


#rodape {
    background-color: black;
    border-top: 10px solid #303030;
    padding: 70px 0;
}


h2 {
    font-size: 50px;
    text-align: center;
}


#botao-pergunta {
    width: 800px;
    background-color: #303030;
    height: 70px;
    border: 0;
    font-size: 28px;
    margin-top: 40px;
    text-align: left;
    padding: 0 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}


#imagem-pergunta {
    float: right;
    margin-top: 8px;
    transform: rotate(45deg);
}


#imagem-pergunta-girar {
    float: right;
    margin-top: 8px;
    transform: rotate(90deg);
}


#pergunta {
    width: 800px;
    background-color: #303030;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding: 24px;
    display: none;
}


.paragrafo-pergunta {
    font-size: 24px;
    text-align: justify;
}


footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    border-top: 10px solid #303030;
}


a { 
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}